body
{
    background-image: 100%;
}
.heading
{
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
    font-size: 30px;
    width: 100%;
    margin: 0px;
}
.heading_div
{
    background-color: white;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
    padding: 10px;
    float: none;
    color: black;
    border-radius: 20px;
    font-size: 23px;
}
.people_div
{
    font-size: 17px;
}